body {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-font {
  text-align: center;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 100pt;
  width: auto;
}

.big-info {
  font-size: 20pt;
  font-weight: bolder;
}

/* .header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
